<body>
  <!-- mount the R-HEADER component -->
  <r-header></r-header>

  <!-- mount the R-CONTENT component -->
  <r-content></r-content>

  <!-- mount the R-FOOTER component -->
  <r-footer></r-footer>
  

  <script src="rigl.min.js"></script>
  
  <script>
    Rigl.load('components.htm')
  </script>
</body>