r-footer
  p ${ copyright }

  style.
    :host {
      display: block;
      margin-top: 50px;
    }
    p {
      /* escaping Quoted Strings with a character \ */
      color:  \#{"${ textColor() }"};
    }

  script.
    this.copyright = 'Copyright Rigl.js'
    this.textColor = () => 'green'