r-footer
  p ${ copyright }

  style.
    :host {
      display: block;
      margin-top: 50px;
    }
    p {
      color: ${ textColor() };
    }

  script.
    this.copyright = 'Copyright Rigl.js'
    this.textColor = () => '#545454'