r-menu
  img(src="dist/img/logo.png" alt="rigl")

  //- BEM https://en.bem.info/methodology/quick-start/
  
  //- Block .menu
  nav.menu
    //- Element _item
    a._item(href="#") Pug
    //- Modifier -active
    a._item.-active(href="#") Rigl

  //- Output HTML
    <nav class="menu">
      <a class="menu__item" href="#">Pug</a>
      <a class="menu__item menu__item--active" href="#">Rigl</a>
    </nav>

  style.
    /* Block .menu */
    .menu {
      margin-left: 20px;
    }
    /* Element __item */
    .menu__item {
      margin-right: 10px;
    }
    /* Modifier --active */
    .menu__item--active {
      color: red;
    }

    :host {
      display: flex;
      align-items: center;
    }
    img {
      max-width: 120px;
      margin-right: 30px;
    }